<?php
{{ ansible_managed | comment('c') }}
$CONFIG = array (
  'instanceid' => '{{ oc_instanceid }}',
  'passwordsalt' => '{{ oc_passwordsalt }}',
  'secret' => '{{ oc_secret }}',
  'trusted_domains' =>
  array (
    0 => '{{ oc_host }}',
  ),
  'datadirectory' => '{{ oc_mountpoint }}',
  'overwrite.cli.url' => 'https://{{ oc_host }}',
  'dbtype' => 'mysql',
  'version' => '11.0.0.10',
  'dbname' => '{{ oc_dbname }}',
  'dbhost' => '{{ db_host }}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ oc_dbuser }}',
  'dbpassword' => '{{ oc_dbpassword }}',
  'logtimezone' => 'UTC',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'mail_smtpmode' => 'php',
  'mail_smtpsecure' => 'ssl',
  'mail_from_address' => '{{ user }}',
  'mail_domain' => '{{ domain }}',
  'mail_smtphost' => 'localhost',
  'mail_smtpport' => '587',
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => false,
  'appstore.experimental.enabled' => true,
  'htaccess.RewriteBase' => '/',
);
