<?php
{{ ansible_managed | comment('c') }}
$CONFIG = array (
  'instanceid' => '{{ nc_instanceid }}',
  'passwordsalt' => '{{ nc_passwordsalt }}',
  'secret' => '{{ nc_secret }}',
  'trusted_domains' =>
  array (
    0 => '{{ nc_host }}',
  ),
  'datadirectory' => '{{ nc_mountpoint }}',
  'overwrite.cli.url' => 'https://{{ nc_host }}',
  'dbtype' => 'mysql',
  'version' => '{{ nc_version }}',
  'dbname' => '{{ nc_dbname }}',
  'dbhost' => '{{ db_host }}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ nc_dbuser }}',
  'dbpassword' => '{{ nc_dbpassword }}',
  'mysql.utf8mb4' => true,
  'logtimezone' => 'UTC',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'mail_smtpmode' => 'sendmail',
  'mail_smtpsecure' => 'ssl',
  'mail_from_address' => 'cloud',
  'mail_domain' => '{{ domain }}',
  'mail_smtphost' => 'localhost',
  'mail_smtpport' => '587',
  'mail_smtpauthtype' => 'PLAIN',
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => false,
  'appstore.experimental.enabled' => true,
  'htaccess.RewriteBase' => '/',
  'updater.release.channel' => '{{ nc_release_channel }}',
  'default_phone_region' => '{{ nc_phone_region }}',
  'twofactor_enforced' => 'true',
  'twofactor_enforced_groups' =>
  array (
  ),
  'twofactor_enforced_excluded_groups' =>
  array (
  ),
);
