<?php
{{ ansible_managed | comment('c') }}
$CONFIG = array (
  'instanceid' => '{{ nc_instanceid }}',
  'passwordsalt' => '{{ nc_passwordsalt }}',
  'secret' => '{{ nc_secret }}',
  'trusted_domains' =>
  array (
    0 => '{{ nc_host }}',
  ),
  'datadirectory' => '{{ nc_mountpoint }}',
  'overwrite.cli.url' => 'https://{{ nc_host }}',
  'dbtype' => 'mysql',
  'version' => '{{ nc_version }}',
  'dbname' => '{{ nc_dbname }}',
  'dbhost' => '{{ db_host }}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ nc_dbuser }}',
  'dbpassword' => '{{ nc_dbpassword }}',
  'mysql.utf8mb4' => true,
  'logtimezone' => 'UTC',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'mail_smtpmode' => 'php',
  'mail_smtpsecure' => 'ssl',
  'mail_from_address' => '{{ user }}',
  'mail_domain' => '{{ domain }}',
  'mail_smtphost' => 'localhost',
  'mail_smtpport' => '587',
  'theme' => '',
  'loglevel' => 2,
  'maintenance' => false,
  'appstore.experimental.enabled' => true,
  'htaccess.RewriteBase' => '/',
);
