[Unit]
Description=Foundry VTT
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=foundryvtt
WorkingDirectory=/opt/foundryvtt/
ExecStart=/usr/bin/node resources/app/main.js --dataPath=/opt/foundrydata

[Install]
WantedBy=multi-user.target
