{{ ansible_managed | comment }}
<VirtualHost *:{{ web_port }}>
    ServerAdmin {{ user }}@{{ domain }}
    ServerName {{ pihole_host }}

    Redirect permanent / https://{{ pihole_host }}/

    ErrorLog /var/log/httpd/{{ pihole_host }}-error_log
    CustomLog /var/log/httpd/{{ pihole_host }}-access_log common
</VirtualHost>

<VirtualHost *:{{ ssl_port }}>
    ServerAdmin {{ user }}@{{ domain }}
    ServerName {{ pihole_host }}:{{ ssl_port }}

    ProxyPreserveHost On
    ProxyPass / http://{{ pihole_server }}:{{ pihole_web_port }}/
    ProxyPassReverse / http://{{ pihole_server }}:{{ pihole_web_port }}/
    RequestHeader set X-Forwarded-Proto "https"
    Header always set Content-Security-Policy: upgrade-insecure-requests

    SSLEngine on
    SSLCertificateFile "{{ ssl_cert_file }}"
    SSLCertificateKeyFile "{{ ssl_key_file }}"

    ErrorLog /var/log/httpd/ssl_{{ pihole_host }}-error_log
    CustomLog "/var/log/httpd/ssl_{{ pihole_host }}-request_log" \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

    <Location />
       Order Allow,Deny
       Allow from {{ ansible_facts["default_ipv4"]["network"] }}/24
    </Location>
</VirtualHost>
