{{ ansible_managed | comment }}
<VirtualHost *:{{ web_port }}>
    ServerAdmin {{ user }}@{{ domain }}
    ServerName {{ airsonic_host }}

    Redirect permanent / https://{{ airsonic_host }}/

    ErrorLog /var/log/httpd/{{ airsonic_host }}-error_log
    CustomLog /var/log/httpd/{{ airsonic_host }}-access_log common
</VirtualHost>

<VirtualHost *:{{ ssl_port }}>
    ServerAdmin {{ user }}@{{ domain }}
    ServerName {{ airsonic_host }}:{{ ssl_port }}

    ProxyPreserveHost On
    ProxyPass / http://{{ airsonic_server }}:{{ airsonic_port }}/
    ProxyPassReverse / http://{{ airsonic_server }}:{{ airsonic_port }}/
    RequestHeader set X-Forwarded-Proto "https"
    Header always set Content-Security-Policy: upgrade-insecure-requests

    SSLEngine on
    SSLCertificateFile "/etc/letsencrypt/live/{{ web_host }}/fullchain.pem"
    SSLCertificateKeyFile "/etc/letsencrypt/live/{{ web_host }}/privkey.pem"

    ErrorLog /var/log/httpd/ssl_{{ airsonic_host }}-error_log
    CustomLog "/var/log/httpd/ssl_{{ airsonic_host }}-request_log" \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
