{{ ansible_managed | comment }}
<IfModule mod_alias.c>
    Alias /owncloud /usr/share/webapps/owncloud/
</IfModule>

<Directory /usr/share/webapps/owncloud/>
    Options FollowSymlinks
    AllowOverride all
    Require all granted
    #php_admin_value open_basedir "/srv/http/:/home/:/tmp/:/usr/share/pear/:/usr/share/webapps/owncloud/:/etc/webapps/owncloud:/dev/urandom"
</Directory>

<VirtualHost *:{{ web_port }}>
    ServerAdmin {{ user }}@{{ domain }}
    DocumentRoot /usr/share/webapps/owncloud
    ServerName {{ oc_host }}

    Redirect permanent / https://{{ oc_host }}/

    ErrorLog /var/log/httpd/{{ oc_host }}-error_log
    CustomLog /var/log/httpd/{{ oc_host }}-access_log common
</VirtualHost>

<VirtualHost *:{{ ssl_port }}>
    <IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
    </IfModule>

    ServerAdmin {{ user }}@{{ domain }}
    DocumentRoot /usr/share/webapps/owncloud
    ServerName {{ oc_host }}:{{ ssl_port }}

    SSLEngine on
    SSLCertificateFile "/etc/letsencrypt/live/{{ web_host }}/fullchain.pem"
    SSLCertificateKeyFile "/etc/letsencrypt/live/{{ web_host }}/privkey.pem"
    SSLCertificateChainFile "/etc/letsencrypt/live/{{ web_host }}/chain.pem"

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory "/srv/http/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>
    BrowserMatch "MSIE [2-5]" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
    ErrorLog /var/log/httpd/ssl_{{ oc_host }}-error_log
    CustomLog "/var/log/httpd/ssl_{{ oc_host }}-request_log" \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
