{{ ansible_managed | comment }}
# configuration for the personae rails app
LoadModule passenger_module modules/mod_passenger.so

<VirtualHost *:{{ web_port }}>
    ServerAdmin {{ user }}@{{ domain }}
    ServerName {{ personae_host }}
    DocumentRoot {{ personae_dir}}/public

    Redirect permanent / https://{{ personae_host }}/

    ErrorLog /var/log/httpd/{{ personae_host }}-error_log
    CustomLog /var/log/httpd/{{ personae_host }}-access_log common
</VirtualHost>

<VirtualHost *:{{ ssl_port }}>
    PassengerRuby /usr/local/rvm/gems/ruby-{{ personae_ruby }}@{{ personae_gemset }}/wrappers/ruby
    PassengerRoot /usr/lib/passenger
    PassengerUser {{ personae_user }}
    PassengerGroup {{ personae_group }}

    ServerAdmin {{ user }}@{{ domain }}
    ServerName {{ personae_host }}
    DocumentRoot {{ personae_dir }}/public

    <Directory {{ personae_dir }}/public>
        AllowOverride all
        Options -MultiViews
        Require all granted
    </Directory>

    SSLEngine on
    SSLCertificateFile "/etc/letsencrypt/live/{{ web_host }}/fullchain.pem"
    SSLCertificateKeyFile "/etc/letsencrypt/live/{{ web_host }}/privkey.pem"

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory "/srv/http/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>
    BrowserMatch "MSIE [2-5]" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
    ErrorLog /var/log/httpd/ssl_{{ personae_host }}-error_log
    CustomLog "/var/log/httpd/ssl_{{ personae_host }}-request_log" \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
