{{ ansible_managed|comment }}
#
# /etc/hosts: static lookup table for host names
#

#<ip-address>	<hostname.domain.org>	<hostname>
127.0.0.1	localhost.localdomain	localhost
::1		localhost.localdomain	localhost
{{ ansible_default_ipv4.address }}	void mail cloud blog www {{ personae_host }} {{ dlyg_host }}
{{ storage_host_ip }}	{{ storage_subdomain }} {{ storage_subdomain }}.{{ domain }}

# End of file
